:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3; 
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-text-color: #ffffff;
  --background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
max-width: 100%;
}

.list{
list-style: none;
}
.link{
text-decoration: none;
}


.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

/*=========== HEADER =========*/
body {
font-family: "Roboto", sans-serif;
max-width: 1600px;
}

.page-header{
padding-top: 24px;
padding-bottom: 24px;
}

.header-container{
display: flex;
align-items: center;

}

.navigation{
display: flex;
align-items: center;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3;
margin-right: 90px;
}
.logo-header-part-2{
color: #000000;
}

.menu-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-link.current {
color: #2196F3;
}

.menu-link:hover,
.menu-link:focus {
color: #2196F3;
}

.menu-link{
display: flex;
align-items: center;
}

.menu-list{
display: flex;
align-items: center;
margin-left: auto;
} 

.menu-item:not(:last-child){
margin-right: 50px;
}

.mail-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-right: 50px;
}

.mail-link:hover,
.mail-link:focus{
color: #2196F3;
}

.tel-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.tel-link:hover,
.tel-link:focus{
color: #2196F3; 
}
/*=========== END HEADER =========*/



/*=========== HERO =========*/
.hero{
background-color: #2F303A;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
max-width: 1600px;}

.hero-title{
width: 696px;
margin: 0 auto;
margin-bottom: ;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.modal-btn{
background-color:#2196F3;
font-family: inherit;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
width: 200px;
padding: 12px 0;
border-radius: 6px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*=========== END HERO =========*/



/*=========== FEATURES =========*/
.our-features{
padding-top: 84px;
padding-bottom: 94px;
max-width: 1600px;
} 

.our-features-all{
display: flex;
margin-top: -30px;
margin-left: -30px;
}
.our-features-item{
display: list-item;
}
.our-features-item:not(:last-child){
margin-right: 30px;
}
.our-features-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-top: 30px;
margin-left: 30px;
}

.our-features-description{
font-family: "Roboto", sans-serif;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: #757575;
flex-basis: calc((100% - 120px) / 4);
margin-top: 30px;
margin-left: 30px;
}

/*=========== END FEATURES =========*/


/*=========== WHAT WE DO =========*/
.what-we-do-container{
padding-top: 94px;
padding-bottom: 196px;
margin-right: 215px;
margin-left: 215px;
}

.what-we-do-all{
display: flex;
flex-wrap: wrap;
justify-content: space-between;}

.what-we-do-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 56px;
}
/*=========== END WHAT WE DO =========*/


/*=========== TEAM =========*/
.our-team-container{
background-color: #F5F4FA;
text-align: center;
max-width: 1600px;
height: 648px;
padding-top: 64px;
padding-bottom: 10px;
}

.our-team-all{
display: flex;
margin-left: -30px;
margin-top: -30px;
}
.our-team-item:not(:last-child){
margin-right: 50px;
}

.our-team-title{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 92px;
margin-bottom: 56px;

}
.our-team-name{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 30px;
margin-bottom: 15px;
}

.our-team-position{
font-family: "Roboto", sans-serif;
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 30px;
}

.our-team-card{
padding-top: 30px;
padding-bottom: 30px;
padding-left: 32px;
padding-right: 32px;
}
/*=========== END TEAM =========*/


/*=========== FOOTER =========*/
.page-footer{
background-color: #2F303A;
max-width: 1600px;
}
.footer-container{
align-items: center;
height: 252px;
width: 1600px;
padding-left: 200px;
padding-top: 60px;
padding-bottom: 60px;
}

.logo-footer{
padding-bottom: 30px;
display: block;
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3;
}
.logo-footer-part-2 {
color: #FFFFFF;
}
.address-link{
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 15px;
}
.mail-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-bottom: 15px;
}
.mail-link:hover,
.mail-link:focus{
color: #2196F3;
}
.tel-link{
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.tel-link:hover,
.tel-link:focus{
color: #2196F3; 
}
.menu-footer-item{
margin-bottom: 15px;
}
/*=========== END FOOTER =========*/

/*=========== PORTFOLIO =========*/
.portfolio-projects{
max-width: 1600px;
}
.portfolio-buttons{
padding-top: 92px;
padding-bottom: 50px;
}
.portfolio-buttons-all{
display: flex;
justify-content: center;
}
.porfolio-buttons-item{
background-color: #f5f4fa;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
margin-right: 5px;
}
.porfolio-buttons-item:not(:last-child){
margin-right: 5px;
}
.porfolio-buttons-item.current{
color: #2196F3; 
}
.porfolio-buttons-item:hover,
.porfolio-buttons-item:focus{
background-color: #2196F3;
color: #FFFFFF;
}
.portfolio-name{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-type{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.portfolio-projects{
margin-left: 215px;
}

.portfolio-projects-all{
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
}

.portfolio-projects-item{
flex-basis: calc ((100% - 90px) / 3);
margin-left: 30px;
margin-top: 30px;
}

.portfolio-text{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
border: 1px solid #757575;
border-top: none;
}
/*=========== END PORTFOLIO =========*/